body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}

a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*   Section   */
.section {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

/*   Buttons   */
.button__transparent {
    text-decoration: none;
    margin-top: 15px;
    font-size: 16px;
    line-height: 21px;
    /* or 131% */
}

.hero-image {
    width: 100%;
}

.header__screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__text-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;

    position: relative;
    bottom: 100px;
    left: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;
}

.nav {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.nav__main-logo {
    margin-right: 60px;
}

.nav__link {
    margin-right: 30px;
}

/*   Section   */
main {
    background-color: #FFFFFF;
    margin-bottom: 150px;
}

.main__cards-section {
    display: grid;
    margin-top: 50px;
    margin-bottom: 90px;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: 1fr;
    grid-row-gap: 56px;
}

.card {
    /*background-color: rgb(127, 255, 212, 0.5);*/
    background-color: #F7F7F7;
    backdrop-filter: blur(20%);
    display: flex;
    flex-direction: column;
    height: 431px;
    justify-content: space-between;
    text-align: start;
}

.card__product-image {
    height: 341px;
    width: 275px;
}

.card__description {
    padding: 10px;

    /*display: flex;*/
    justify-content: space-between;
    align-content: center;
    max-width: 275px;
    flex-wrap: wrap;
}

.card__description__main {
    color: #1A1A1A;
    font-size: 15px;
    line-height: 18px;
}

.card__description__additional {
    color: #A8A8A8;
    font-size: 15px;
    line-height: 18px;
}

.card__price {
    padding: 10px;
    display: flex;
    justify-content: start;
    max-width: 275px;
}

.card__price__main {
    color: #1A1A1A;
    font-size: 15px;
    line-height: 13px;
}

.card__price__sale {
    color: #FF3451;
    margin-left: 10px;
    font-size: 15px;
    line-height: 13px;
}

.div__button__black {
    text-align: center;
}

.button__black {
    box-sizing: border-box;
    padding: 15px 25px;
    background: #1A1A1A;
}

.section__final-stock {
    background: #CED3CA;
    padding-top: 120px;
    padding-bottom: 120px;
}

.final-stock {
    background: #F7F7F7;
    display: flex;
    justify-content: space-between;
}

.final-stock__left {
    display: flex;
    margin-left: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.final-stock__image {
    height: 406px;
    width: 754px;
    left: 406px;
    top: 0px;
    border-radius: 0px;
}

.h2 {
    width: 208px;
    text-align: left;
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
    /* or 120% */
}

.h3 {
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    line-height: 54px;
    /* or 154% */
}

.white-text {
    color: #F7F7F7;
}

.black-text {
    color: #1A1A1A;
}

.gray-text {
    color: #A8A8A8;
}

.design-studio {
    position: relative;
    display: flex;
    padding: 80px 30px;
    background-color: #f5f7fa;
    background-image: url(Resources/Images/Main-content/Design-studio.png);
    background-position: 0px 0px;
    background-size: cover;
    height: 600px;
    width: auto;
}

.design-studio__text-block {
    /*position: relative;*/
    bottom: 400px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 782px;
}

.section__our-mission {
    padding: 115px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.our-mission__1 {
    margin-bottom: 90px;
    text-align: center;
    max-width: 782px;
}

.our-mission__2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.our-mission__3 {
    margin-top: 50px;
}

.our-mission__div {
    display: flex;
    flex-direction: column;
}